 <script type="text/ng-template" id="tpl-autocomplete-dropdown">
	<form ng-submit="$event.preventDefault()">
    	<md-autocomplete
	         ng-disabled="ctrl.isDisabled"
	         md-no-cache="ctrl.noCache"
	         md-selected-item="ctrl.selectedItem"
	         md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
	         md-search-text="ctrl.searchText"
	         md-selected-item-change="ctrl.selectedItemChange(item)"
	         md-items="item in ctrl.querySearch(ctrl.searchText)"
	         md-item-text="item.columnName"
	         md-min-length="0"
	         placeholder="Enter column name...">
        <md-item-template>
        	<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i" title="{{item.columnName}}">{{item.columnName}}</span>
        </md-item-template>
        <md-not-found>
        	No states matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      	</md-autocomplete>
    </form>
</script>

<script type="text/ng-template" id="tpl-autocomplete-dropdown-label">
	<form ng-submit="$event.preventDefault()">
    	<md-autocomplete
	         ng-disabled="ctrl.isDisabled"
	         md-no-cache="ctrl.noCache"
	         md-selected-item="ctrl.selectedItem"
	         md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
	         md-search-text="ctrl.searchText"
	         md-selected-item-change="ctrl.selectedItemChange(item)"
	         md-items="item in ctrl.querySearch(ctrl.searchText)"
	         md-item-text="item.label"
	         md-min-length="0"
	         placeholder="Type to search...">
        <md-item-template>
        	<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i" title="{{item.label}}">{{item.label}}</span>
        </md-item-template>
        <md-not-found>
        	No states matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      	</md-autocomplete>
    </form> 
</script> 

<script type="text/ng-template" id="custom-tpl-autocomplete-dropdown">
	<form ng-submit="$event.preventDefault()">
    	<md-autocomplete
	         ng-disabled="ctrl.isDisabled"
	         md-no-cache="ctrl.noCache"
	         md-selected-item="ctrl.selectedItem"
	         md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
	         md-search-text="ctrl.searchText"
	         md-selected-item-change="ctrl.selectedItemChange(item)"
	         md-items="item in ctrl.querySearch(ctrl.searchText)"
	         md-item-text="item.label"
	         md-min-length="0"
	         placeholder="Type to search...">
        <md-item-template>
        	<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i" title="{{item.label}}">{{item.label}}</span>
        </md-item-template>
        <md-not-found>
        	No states matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      	</md-autocomplete>
    </form> 
</script> 